<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>Crear Sucursal</h3>
          <form >
            <div class="row">
              <div class="col">
                <label for="inputState"></label>
                <select class="form-control"  (change)="ChangeProvincia($event)"  name="provincias" >
                  <option selected disabled >Seleccione Provincia</option>
                  <option   *ngFor="let provincia of provincias" [value]="provincia.codigo">
                           {{provincia.descripcion}}
                  </option>


                </select>
              </div>
              <div class="col">
                <label for="inputState"></label>
                <select id="inputState" class="form-control"  (change)="ChangeCanton($event)"    name="cantones">
                  <option selected disabled>Seleccione Canton</option>
                  <option   *ngFor="let canton of cantones"  [value]="canton.codigo">
                           {{canton.descripcion}}
                  </option>


                </select>
              </div>

            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control form-control-lg mt-3" placeholder="Nombre de la Sucursal"  [(ngModel)]="sucursal.nombre" name="nombre">

              </div>


            </div>
            <br>

            <div>
              <button class="btn btn-secondary btn-lg mr-3" href="#">
                Volver
              </button >
              <div class="space">
              </div>
              <button  class="btn btn-dark btn-lg" (click)="saveSucursal()">
                Agregar
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
