<div class="card">
  <h4 class="card-header">Encuesta Empresa XYZ</h4>
  <div class="card-body">
    <form>
      <div class="row mb-3">
        <div class="col-4">

          <input class="form-control " type="search" placeholder="Ingrese Numero de Cedula" aria-label="Search"
            [(ngModel)]="cedula" name="cedula">
        </div>
        <div class="col-3">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="cedula"
            (click)="BuscarCliente()">Buscar</button>
        </div>

      </div>
      <div *ngIf="cedula==''; then loggedIn; else formulario">
        No existe Cliente.
      </div>
    </form>

    <ng-template #loggedIn>

    </ng-template>
    
    <ng-template #formulario>
      <form *ngIf="clienteBuscar">

        <div class="row mb-3">
          <div class="col-3">
            <label class="col-sm col-form-label fw-bold">Nombres: </label>
          </div>
          <div class="col-5">
            <input type="text" readonly class="form-control" value="{{clienteBuscar.nombre}} {{clienteBuscar.apellido}}" disabled>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-3">
            <label class="col-sm col-form-label fw-bold">Provincia: </label>
          </div>
          <div class="col-5">
            <select id="inputState" class="form-control" (change)="ChangeProvincia($event)">
              <option selected disabled>Seleccione Provincia</option>
              <option *ngFor="let provincia of provincias" [value]="provincia.codigo">
                {{provincia.descripcion}}
              </option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-3">
            <label class="col-sm col-form-label fw-bold">Canton: </label>
          </div>
          <div class="col-5">
            <select id="inputState" class="form-control" (change)="ChangeCanton($event)">
              <option selected disabled>Seleccione Canton</option>
              <option *ngFor="let canton of cantones" [value]="canton.codigo">
                {{canton.descripcion}}
              </option>
            </select>
          </div>
          
        </div>
        <div class="row mb-3">
          <div class="col-3">
            <label class="col-sm col-form-label fw-bold">Sucursal: </label>
          </div>
          <div class="col-5">
            <select id="inputState" class="form-control">
              <option selected disabled>Seleccione Sucursal</option>
              <option *ngFor="let sucursal of sucursales" [value]="sucursal.codigo">
                {{sucursal.descripcion}}
              </option>
            </select>
          </div>
        </div>

        <h6>Preguntas: </h6>
        <div class="row" *ngFor="let encuesta of encuesta">
          <div class="col-1">
            <span class="p-3 text-center fw-bold">{{encuesta.idPregunta}}.</span>
          </div>
          <div class="col-6">
            <label class="p-1 fw-normal">{{encuesta.pregunta}}.</label>
          </div>
          <div class="col-5" *ngIf="encuesta.idCategoria===1">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="{{encuesta.respuesta}}">
              <label class="form-check-label" for="inlineRadio1">{{encuesta.valorInicial}}</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{encuesta.respuesta}}">
              <label class="form-check-label" for="inlineRadio2">{{encuesta.valorFinal}}</label>
            </div>
          </div>
          <div class="col" *ngIf="encuesta.idCategoria===2">
            <label for="customRange3" class="form-label"></label>
            <input type="range" class="form-range" min={{encuesta.valorInicial}} max={{encuesta.valorFinal}}>
          </div>
          <div class="col p-1" *ngIf="encuesta.idCategoria===3">
            <textarea class="form-control" placeholder="Ingrese su comentario" rows="3" [maxLength]="400"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <button class="btn btn-primary" (click)="registrarEncuesta(encuesta)">Registrar Encuesta</button>
          </div>
        </div>
      </form>
    </ng-template>

  </div>